body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8f8e8e;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #595959;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}